EXTERNAL/magico/inputs/lavender.png filter=lfs diff=lfs merge=lfs -text
EXTERNAL/magico/outputs/lavender.ico filter=lfs diff=lfs merge=lfs -text
EXTERNAL/magico/banner.png filter=lfs diff=lfs merge=lfs -text
